/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* 検索フィールドのスタイル */
.mat-mdc-form-field {
  display: flex;
  align-items: flex-end;
}

.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  padding-bottom: 0;
}

.mat-mdc-form-field .mat-mdc-form-field-flex {
  align-items: flex-end;
  min-height: 40px;
}

.mat-mdc-form-field .mat-mdc-input-element {
  font-size: 14px;
  padding-bottom: 0;
  margin-top: auto;
  line-height: 1.5;
  position: relative;
  top: 16px;
}

.mat-mdc-form-field .mat-mdc-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: flex-end;
}

.mat-mdc-form-field .mat-mdc-floating-label {
  top: 28px;
}

.mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
  top: 28px;
}

.mat-mdc-form-field .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
}

/* ドロップダウンメニューのスタイル */
.mat-mdc-select-panel .mat-mdc-option {
  font-size: 14px !important;
  min-height: 36px !important;
  line-height: 36px !important;
  padding: 0 16px !important;
}

.mat-mdc-select-panel .mat-mdc-option .mdc-list-item__primary-text {
  font-size: 14px !important;
  line-height: 24px !important;
}

/* チェックマークのスタイル */
.mat-mdc-option.mdc-list-item--selected .mdc-list-item__start {
  width: 14px !important;
  height: 14px !important;
}

.mat-mdc-option .mat-pseudo-checkbox {
  width: 14px !important;
  height: 14px !important;
}

.mat-pseudo-checkbox-checked::after {
  width: 9px !important;
  height: 4.5px !important;
  border-width: 0 0 1.5px 1.5px !important;
}

/* デートピッカーのカスタマイズ */
.mat-calendar-body-cell-content {
  &::after {
    content: '' !important;
  }
}

.mat-calendar-period-button {
  &::after {
    content: '' !important;
  }
}

.mat-calendar-table-header th {
  &::after {
    content: '' !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
