.warning-notification {
  background: #fff3e0;
  color: #ef6c00;
  
  .mat-simple-snackbar-action {
    color: #ef6c00;
  }
}

.error-notification {
  background: #ffebee;
  color: #c62828;
  
  .mat-simple-snackbar-action {
    color: #c62828;
  }
} 