<!-- エラー分析チャート -->
<div class="charts-container" *ngIf="!loading && !error">
  <div class="date-range-form">
    <form [formGroup]="analysisForm" (ngSubmit)="loadErrorAnalysis()">
      <mat-form-field>
        <mat-label>開始日</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>終了日</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        <mat-icon>refresh</mat-icon>
        分析を更新
      </button>
    </form>

    <form [formGroup]="filterForm" class="filter-form">
      <mat-form-field>
        <mat-label>エラータイプ</mat-label>
        <mat-select formControlName="errorType">
          <mat-option [value]="''">すべて</mat-option>
          <mat-option *ngFor="let type of errorAnalysis?.errorTypes | keyvalue" [value]="type.key">
            {{type.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>最小エラー数</mat-label>
        <input matInput type="number" formControlName="minErrorCount" min="0">
      </mat-form-field>

      <mat-form-field>
        <mat-label>ユーザー</mat-label>
        <mat-select formControlName="userFilter">
          <mat-option [value]="''">すべて</mat-option>
          <mat-option *ngFor="let user of errorAnalysis?.userImpact" [value]="user.userId">
            {{user.userId}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <button mat-raised-button color="accent" (click)="exportToCSV()">
      <mat-icon>download</mat-icon>
      CSVエクスポート
    </button>
  </div>

  <div class="chart">
    <h3>エラー発生率の推移</h3>
    <canvas baseChart
      [data]="errorTrendChartData"
      [options]="errorTrendChartOptions"
      type="line">
    </canvas>
  </div>
  <div class="chart">
    <h3>エラータイプ分布</h3>
    <canvas baseChart
      [data]="errorTypeChartData"
      [options]="errorTypeChartOptions"
      type="pie"
      (chartClick)="onChartClick($event, 'errorType')">
    </canvas>
  </div>
  <div class="chart">
    <h3>時間帯別エラー発生数</h3>
    <canvas baseChart
      [data]="hourlyErrorChartData"
      [options]="hourlyErrorChartOptions"
      type="bar"
      (chartClick)="onChartClick($event, 'hourly')">
    </canvas>
  </div>
  <div class="chart">
    <h3>ユーザー別エラー発生数</h3>
    <canvas baseChart
      [data]="userImpactChartData"
      [options]="userImpactChartOptions"
      type="bar"
      (chartClick)="onChartClick($event, 'userImpact')">
    </canvas>
  </div>
</div> 